<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Airbus A380</title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/styleguide.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.5/gsap.min.js" defer></script>
    <script src="/scripts/script.js" defer></script>
</head>
<body>
    <header>
        <a href="/">
            <img src="/assets/images/airbuslogo.webp" alt="airbus logo">
        </a>

        <a href="/" class="primary">Choose seat</a>
    </header>
