/* styling for global header */

header {
    display: flex;
    gap: 1.5rem;
    position: sticky;
    top: 1rem;
    left: 1rem;
    align-items: center;
    justify-content: space-between;
    background: rgba(255, 255, 255, 0.50);
    backdrop-filter: blur(10px);
    box-shadow: inset 2px 2px 1px 0 rgba(255, 255, 255, 0.5),
    inset -1px -1px 1px 1px rgba(255, 255, 255, 0.5);
    padding: 1rem;
    border-radius: var(--border-large);
    z-index: 5;

    a:nth-of-type(1) {
        width: 40%;
        
        img {
            min-width: 100px;
            width: 40%;
            height: auto;
        }
    }
}

main.home {
    color: white;

    /* All sections for margin reasons */
    section:not(:first-child) {
        margin: 10dvh 0;
    }

    /* Section with banner, text, button and heading */
    section:nth-of-type(1) {
        position: relative;

        img:first-child {
            display: none;
            margin-top: 1rem;
            border-radius: var(--border-large);

            @media (min-width:589px) {
                display: block;
            }
        }

        img:nth-of-type(2) {
            display: block;

            @media (min-width:589px) {
                display: none;
            }
        }

        article {
            position: absolute;
            top: 15%;
            left: 10%;

            p {
                margin: 1rem 0;
                width: 100%;

                @media (min-width: 789px) {
                    width: 60%;
                }
            }
        }
    }

     /* Section with seat choices */
    section:nth-of-type(2) {
        display: flex;
        flex-direction: column;

        @media (min-width: 789px) {
            flex-direction: row;
        }

        img {
            width: 100%;
            height: auto;


            @media (min-width: 789px) {
                flex: 50%;
                width: 20%;
                height: 50%;
                border-radius: var(--border-large);
            }
        }

        article {
            display: flex;
            flex-direction: column;

            @media (min-width: 789px) {
                flex: 50%;
            }

            h2 {
                width: 80%;
            }

            p {
                width: 80%;
                margin-top: 1.5rem;
            }

            article {
                display: flex;
                flex-direction: row;
                gap: 5%;
                width: 95%;
                margin-top: 1.5rem;

                p {
                    font-size: 1rem;
                    width: 100%;
                }

                a {
                    font-size: 1rem;

                }

                div {
                    display: flex;
                    flex-direction: column;
                    gap: 1rem;
                    width: 100%;
                }
            }

            a.underlined {
                font-size: 1rem;
                padding-left: 0;

            }
        }
    }

    section:nth-of-type(3) {

        h2 {
            width: 60%;
        }

        p {
            width: 60%;
            margin-block: 1.5rem;
        }


        /* Div for wrapping the 3 tables */
        div {
            display: flex;
            justify-content: space-between;
        }

        article {
            width: 30%;

            h3 {
                font-size: clamp(1.3rem, 2vw + 1rem, 1.5rem);
                margin-block: 1rem;
            }

            img {
                border-radius: var(--border-large) var(--border-large) 0 0;
            }

            ul {
                height: fit-content;
                background-color: var(--lightbackground);
                color: black;
                margin-top: -.3rem;
                border-radius: 0 0 var(--border-large) var(--border-large);
            }

            li {
                display: flex;
                align-items: center;
                justify-content: space-between;
                padding: 1rem;
                border-bottom: 2px solid var(--darkbackground);
                text-align: left;

            }
        }
    }
}