/* styling for global header */

header {
    display: flex;
    gap: 1.5rem;
    position: sticky;
    top: 1rem;
    left: 1rem;
    align-items: center;
    justify-content: space-between;
    background: rgba(255, 255, 255, 0.50);
    backdrop-filter: blur(10px);
    box-shadow: inset 2px 2px 1px 0 rgba(255, 255, 255, 0.5),
    inset -1px -1px 1px 1px rgba(255, 255, 255, 0.5);
    padding: 1rem;
    border-radius: var(--border-large);
    z-index: 5;

    a:nth-of-type(1) {
        width: 40%;
        
        img {
            min-width: 100px;
            width: 40%;
            height: auto;
        }
    }
}

main {

    section:nth-of-type(1) {
        position: relative;
        color: white;

        img {
            margin-top: 1rem;
            border-radius: var(--border-large);
        }

        article {
            position: absolute;
            top: 15%;
            left: 10%;

            p {
                margin: 1rem 0;
                width: 100%;

                @media (min-width: 789px) {
                    width: 60%;
                }
            }
        }
    }
}