@font-face {
    font-family: inter;
    src: url(/assets/inter.ttf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

img, video {
    width: 100%;
    height: auto;
}

body {

    /* colors */
    --primary: #699FD6;
    --secondary: #B9941D;
    --darkbackground: #262626;
    --lightbackground: #E5E5E5;

    /* border radius */
    --border-link: 1.25rem;
    --border-large: clamp(1.3rem, 2vw + 1rem, 1.5rem);

    font-family: inter;
    max-width: 1920px;
    margin: 3vw;
    background-color: var(--darkbackground);

    @media (min-width: 1920px) {
        margin: 1rem auto;
    }
}

h1, h2 {
    font-size: clamp(2rem, 3vw + 1rem, 4rem);
}

h3, h4 {
    font-size: clamp(1.8rem, 3vw + 1rem, 3rem);
}

h5 {
    font-size: clamp(1.3rem, 2vw + 1rem, 1.5rem);
}

p, a{
    font-size: clamp(1rem, 0.9rem + 0.5vw, 1.25rem);
    font-weight: 500;
}

/* general link styling */

a  {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding-left: 1rem;
    width: clamp(10rem, 100%, 17.25rem);
    height: clamp(2rem, 3rem, 4rem);
    border-radius: var(--border-link);
    color: white;

    &.primary {
        background-color: var(--primary);

        &::after {
            position: absolute;
            top: 20%;
            right: 1.5rem;
            height: 80%;
            content: url(/assets/images/airplane.svg);
        }
    }

    &.secondary {
        background-color: var(--secondary);
    }

    &.underlined {
        text-decoration: underline;
    }
}


.box, .boxone, .boxtwo {
    height: 50px; 
    width: 50px; 
    background-color: white;
}